.main-screen {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: 100%;
    }
  }
}