.home {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 12px;
  height: 100vh;
  overflow-y: hidden;
  background-color: black;

  @media (max-width: 980px) {
    grid-template-columns: 1fr;
  }
}